---
import svgUnderline from '../assets/underline.svg'
import CornerProjectCard from './CornerProjectCard.astro'
interface Props {
    relatedProjects: Array<{ url: string; frontmatter: any }>;
}



const { relatedProjects } = Astro.props;
---


    <div class="max-w-3xl">
        {relatedProjects.length > 0 ? (
            <>
                <div class="max-w-md mx-auto relative  space-y-10 ">
      <h1 class="text-4xl font-medium text-center">More in this corner</h1>
      <img src={svgUnderline.src} alt="arrow" width="140" class="absolute left-35 -bottom-2" />
    </div>

                {/* <h2 class="text-lg font-bold mb-3 px-1">More in this corner</h2> */}
                <div class="flex flex-col gap-3">
                    {relatedProjects.map(({ url, frontmatter: pm }: any) => (
                        <CornerProjectCard
                            url={url}
                            frontmatter={pm}
                        />
                    ))}
                </div>
            </>
        ) : null}
    </div>

